/* Loading Icon */
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner.main {
  height: 100vh;
}
.spinner.page {
  height: 50vh;
}

.spinner > div {
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner.main > div,
.spinner.page > div {
  width: 18px;
  height: 18px;
  background-color: #00c07f;
}
.spinner.button > div {
  width: 12px;
  height: 12px;
  background-color: #fff;
  margin: 10px 2px 10px 0; /* Icon space */
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
